.home-icon {
    height: 100px;
    width: 100px;
    border: purple solid 1px;
    border-radius: 50%;
    padding: 20px;
}

/* .logo-white {
    width: 150px;
    height:150px;
} */

.footer-logo {
    width: 45px;
    height: 45px;
}