

.text-carousel {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.text-carousel ul {
    display: inline-block;
    animation: scroll 20s !important;
}

.text-carousel li {
    display: inline-block;
    padding-right: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.arrow.left {
    left: 20px !important;
    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

.arrow.right {
    right: 20px!;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.carousel-item {
    height: 200px !important;
    
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.cara {
    /* margin-left: auto; */
    /* justify-content: flex-end; */
      align-items: center;
        
        
        
        display: flex;
        /* margin-right: 5%; */
        height: 600px;
        width: 800px;
}

h5 {
    color: purple !important;
    padding-bottom: 10px !important;
}

.active.carousel-item {
    height: 100%;
    width: 100%;
    text-align: center;
}
