.hero-image {
  background-image: url(/Users/lellis/front-end-dev-test/public/assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 250px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Londrina Outline', cursive;
  color: white;
  font-size: 3.5rem;
}