.hero-image {
  background-image: url(/Users/lellis/front-end-dev-test/src/assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  padding: 250px;
}

.hero-text {
  text-align: center;
  line-height: 100%;
}


.hero-second-header {
  font-family: 'Anybody', cursive;
  color: white;
  font-size: 2.7rem;
}



.body-content {
  display: flex;
  position: relative;
  align-items: center;
  height: 600px;
  
  
}

.body-content1 {
background:
url(/Users/lellis/front-end-dev-test/src/assets/img-1.jpg) right/50% 100% no-repeat,
linear-gradient(white, white) left/50% 100% no-repeat;
 margin: 0;
  
  
  display: flex;
    
   align-items: center;
    height: 600px;
    padding: 7.5rem;
}



.body-content2 > p > h2 {
  
}

.body-text {
  
  padding: 7.5rem;
}

.banner1-text {
  padding: 7.5rem;
  justify-content: flex-start;
  align-self: center;
}

.right {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-content: flex-end;
 
  
}

.body-text2 {
  flex-wrap: wrap;
  position: relative;
  
}




.banner-1 {
  background-image: url(/Users/lellis/front-end-dev-test/src/assets/banner-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  
}

.banner-2 {
  background-image: url(/Users/lellis/front-end-dev-test/src/assets/banner-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-items: center;

  
 
  
}

.banner-2-text {
margin-left: auto;
  
  align-items: flex-end;
    width: 300px;
  flex-direction: column;
 
  display: flex;
  margin-right: 350px;
  padding-top: 150px;
 
  
}

.texttext {
  text-align: left;
  
}



.body-container {
  display: flex;
}

.body-content-2 {
  display: flex;
    position: relative;
    align-items: center;
    height: 600px;
    background: linear-gradient(to right, white 50%, #fafafa 50%)

}

.icon-container {
  
  
  width: 250%;
  min-width: 300px; 
  height: auto;
  
  

 
  
}

.icon-row {
width: 100%;

  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
padding-right: 50px
}

.icon {
  display: flex;
  flex: 1;
  padding: 50px;
  height: 200px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}








.cara {
  justify-content: flex-end;
  width: 500px;
}

.d-block w-100 {
  color: red;
}

.more {
  color: purple !important;
  font-weight: bold !important;
}

.h1-black {
  color: black;
  text-transform: uppercase;
  padding: 7.5 rem;
}
