.hero-image {
  background-image: url(/Users/lellis/front-end-dev-test/public/assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 250px;
}