@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Londrina+Outline&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Londrina Outline', cursive;
  color: white;
  font-size: 4rem !important;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Anybody', cursive;
  color: purple;
  font-size: 2 rem;
  letter-spacing: 3px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
  color: white;
  text-align: center;
  height: 200px;
}

@media all and (max-width:30em) {
  
.hero-image {
  background-image: url(/Users/lellis/front-end-dev-test/src/assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

  .section1 {
    width: 100%;
    
    display: flex;
    font-size: 12px;
  }

  .section2-text {
    justify-content: center;
  }

  .section3-text {
    justify-content: flex-start;
    align-self: center;
    font-size: 12px;
  }

  .section4 {
    flex: 1 0 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    font-size: 12px;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
  }

  .cara {
    flex: 1 0 100%;
  }

  .home-icon {
    height: 50px;
    width: 50px;
  }

  .white-logo {
    justify-content: center;
  }
  
}


