@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Londrina+Outline&display=swap');

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Londrina Outline', cursive;
  color: white;
  font-size: 4rem !important;
  letter-spacing: 5px;
  
}

h2 {
  font-family: 'Anybody', cursive;
  color: purple;
  font-size: 2 rem;
  letter-spacing: 3px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    color: white;
    text-align: center;
    height: 200px;
}



